html * {
    font-family: Cambria, Georgia, serif;
}
.badge {
    font-family: "Courier Bold", monospace !important;
}
.listBlock .badge {
    margin-top: 4px;
}
header {
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
}
header hgroup {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
header hgroup h1 {
    padding-top: 35px;
    font-size: 65px;
    padding-bottom: 0;
    margin-bottom: 0;
}
header hgroup *, header hgroup *:hover {
    color: white;
    text-decoration: none;
}
.container {
    margin-top: 30px;
}
.circleBase {
    border-radius: 50%;
}
#logo {
    position: relative;
    width: 90%;
    margin-left: 5%;
    background-image: linear-gradient(mediumseagreen, lightseagreen);
}
#logo:before {
    content: "";
    display: block;
    padding-top: 100%;
}
#links {
    margin-top: 30px;
}
.listBlock {
    padding-left: 5px;
    padding-right: 5px;
}
.listBlock h3 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
}
.listBlock a {
    font-size: 18px;
}
#authorizationBlock {
    margin: 45px;
    opacity: 0.25;
}
#authorizationBlock input {
    text-align: center;
    border: none;
    width: 100%;
}
#authorizationBlock input:hover {
    cursor: default;
}
div.mark {
    text-align: left;
}
div.mark .participants .participant.badge {
    font-family: Cambria, Georgia, serif !important;
    font-weight: normal;
    background-color: #47A3E8;
    margin: 0 2px;
}
div.mark .mark.badge {
    margin-top: 2px;
}
div.mark .comment {
    display: block;
    margin-left: 2px;
    word-wrap: break-word;
}
.cropped {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
div.marks .mark .comment {
    display: block;
    margin-right: 40px;
    word-wrap: break-word;
}
#participant-input {
    padding: 0;
}
#participant-input button {
    border: none;
    border-radius: 0;
}
#participant-input input {
    border-top-left-radius: 0;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.modal-header-badge {
    float: right;
    margin: 5px 15px 0 0;
}
#participants {
    text-align: left;
}
.controls {
    float: right;
    margin: 2px 3px;
}
.controls .glyphicon {
    opacity: 0.3;
}
.controls .glyphicon:hover {
    opacity: 1;
}
.list-group li:hover {
    cursor: pointer;
}
