<div x-ng-controller="Events">
    <div class="list-group">
        <a href="javascript:void(0);" class="list-group-item"
            x-ng-repeat="event in events | orderBy:'date':true"
            x-ng-click="show(event._id)">
            <span class="badge">{{event.date}}</span>
            <span class="cropped">{{event.title}}</span>
        </a>
        <a href class="list-group-item" x-ng-click="create()" x-ng-if="authorized">
            <strong>Create new event</strong>
        </a>
    </div>
</div>
